.library {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;

    background-color: #bcaaa4;


    .addBookButton {
        all: unset;
        position: absolute;
        bottom: .3rem;
        right: 1rem;

        font-size: 2rem;
        color: black;

        cursor: pointer;
    }
}

.book {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    width: 125px;
    min-height: 140px;

    border-radius: 10px;
    box-shadow: 4px 4px 3px 1px;

    margin: calc(min(2%, 16px));
    padding: 4px;

    background-color: #ffe082;
    transition: background-color .5s ease;

    &.read {
        background-color: #d2d2d2;
    }

    h3 {
        margin-block: 0;
        font-size: 1rem;
    }

    .readField {
        display: flex;
        gap: 4px;
    }

    .deleteButton {
        all: initial;
        position: absolute;
        bottom: 4px;
        right: 4px;

        height: 1rem;
        width: 1rem;

        font-size: .9rem;
        color: #595959;
        text-align: center;
        line-height: 0;

        border: dotted 1px #595959;
        border-radius: 50%;
        padding: 1px;

        cursor: pointer;

        &:hover, &:active, &:focus {
            border: solid black 1px;
            background-color: #f06292;
            color: black;
        }
    }
}