.library {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    min-height: 1.5rem;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;

    background-color: #bcaaa4;


    .addBookButton {
        all: unset;
        position: absolute;
        bottom: .3rem;
        right: 1rem;

        font-size: 2rem;
        color: black;

        cursor: pointer;
    }
}

.book {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    width: 130px;
    min-height: 150px;

    border-radius: 10px;
    box-shadow: 4px 4px 3px 1px;

    margin: calc(min(2%, 16px));
    padding: 5px 3px 2px;

    background-color: #ffe082;
    transition: background-color .5s ease;

    &.read {
        background-color: #d2d2d2;
    }

    & > .bookMain {

        flex: 1;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & > h3 {
            margin-block: 0;
            font-size: 1rem;
        }
    
        & > .readField {
            display: flex;
            gap: 4px;
        }
    }

    & > .bookControls {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 2px;

        button {
            all: initial;
            cursor: pointer;

            height: 1rem;
            width: 1rem;

            font-size: .9rem;
            color: #7e7e7e;
            text-align: center;
            line-height: 0;

            border: dotted 1px #595959;
            border-radius: 50%;
            padding: 2px;


            &:hover, &:active, &:focus {
                border: solid black 1px;
                color: black;
            }
        }

        #deleteButton {
            &:hover, &:active, &:focus {
                background-color: #f06292;
            }
        }
    }
}