.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    max-width: 200px;

    & > * {
        margin-block: 4px;
    }

    .field {
        font-size: 1rem;

        &.missing {
            border: red;
        }
    }

    .error {
        color: red;
        font-size: .85rem;
        margin-block: 0px;
    }
}